{% extends 'base.html.twig' %}

{% block title %} Ajouter un  Actualite !{% endblock %}
{% block body %}
   <h1>Modifier  un  Actualite !</h1>

   {{ form_start(formAct) }}
  
   {{ form_end(formAct) }}

{% endblock %}