{% extends 'base.html.twig' %}

{% block title %}Edit FamilleService{% endblock %}

{% block body %}
    <h1>Edit FamilleService</h1>

    {{ include('famille_service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('famille_service_index') }}">back to list</a>

    {{ include('famille_service/_delete_form.html.twig') }}
{% endblock %}
